<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>6Teen - Personalized Feed</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="../../static/css/agency.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">6teen</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#About">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#Account">Accounts</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>


                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
          <div style="max-height: 100vh">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To <b> 6teen!</b></div>
                <div class="intro-heading">Find Some Shit to Do!</div>
                <a href="#About" class="page-scroll btn btn-xl">Learn More</a>
            </div>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="About">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About 6Teen</h2>
                    <h3 class="section-subheading text-muted">
                      A customized feed for helping users pursue an active lifestyle.
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Personalized.</h4>
                    <p class="text-muted">
                      Ranks activities using each user's individual affinities.
                      Refines selections based on user feedback.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-heart-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Community Based.</h4>
                    <p class="text-muted">
                      Organize meetups with other 6teen users in live outings.
                      Activity reviews sourced from other users and Yelp integrated into recommendations.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bicycle fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Lifestyle Oriented.</h4>
                    <p class="text-muted">
                      Stay healthy by enjoying new experiences!<br> Learn new ways to enjoy your existing hobbies!
                    </p>
                </div>
            </div>
      </div>
    </section>

    <!-- Account Section -->
    <section id="Account" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Signup and Login</h2>
                    <h3 class="section-subheading text-muted">
                      Create a new account or login.
                    </h3>
                </div>
            </div>
            <div class="row text-center">

              <form class="form-horizontal" name="LoginForm" action="/activity_graph/feed/" method="post">
                {% csrf_token %}
                {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}
                <div class="control-group">
                  <label class="control-label" for="username">Username</label>
                  <div class="controls">
                    <input type="text" id="username" name="username"  placeholder="Username">
                  </div>
                </div> <br><br>
                <div class="control-group">
                  <label class="control-label" for="password">Password</label>
                  <div class="controls">
                    <input type="password" name="password" id="password" placeholder="Password">
                  </div>
                </div> <br><br><br>
                <div class="control-group">
                  <div class="controls">
                    <button type="submit" class="page-scroll btn btn-xl">Login</button>
                    <a href="" class="page-scroll btn btn-xl">Sign Up</a>

                  </div>
                </div>
              </form>





            </div>
      </div>
    </section>


    <!-- Team Section -->
    <section id="team" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Team</h2>
                    <h3 class="section-subheading text-muted">Created at ArchHacks 2016.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-sm-push-2">
                    <div class="team-member">
                        <img src="../../static/img/team/1.jpg" class="img-responsive img-circle" width = "250vh" height = "250vh" alt="">
                        <h4>Jared Fernandez</h4>
                        <p class="text-muted">Northwestern University</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.facebook.com/FernJared"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/fernjared"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-4 col-sm-push-2">
                    <div class="team-member">
                        <img src="../../static/img/team/2.jpg" class="img-responsive img-circle" width = "250vh" height = "250vh" alt="">
                        <h4>Gautham Bommannan</h4>
                        <p class="text-muted">University of Illinois at Urbana-Champaign </p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.facebook.com/profile.php?id=100009173697217"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/gautham-bommannan?authType=NAME_SEARCH&authToken=E7Vv&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A332207450%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1478372879820%2Ctas%3Agautham%20b"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section>


    <!-- jQuery -->
    <script src="../../static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../../static/js/jqBootstrapValidation.js"></script>
    <script src="../../static/js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="../../static/js/agency.min.js"></script>

</body>

</html>
